<div class="container">
  <h2>Categories</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Products count</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td><%= category.description %></td>
          <td><%= category.products.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
